*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}

body{
    background-image: url('imagenes/backGroundFrutas.jpg');
}

#botoncliente{
    cursor: pointer;
    width: 100px;
    height: 35px;
    background: whitesmoke ;
    position: fixed;
    bottom:0px;
    right: 0px ;
    font: icon;
    color: rgb(0, 0, 0);
}

#campobusqueda{
    position: sticky;
    width: 365px;
    margin: 30px auto;
    position: relative;
}

#buscarproducto{
    cursor: pointer;
}

#campoingresarproducto{
    width: 365px;
    margin: 30px auto;
    position: relative;
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}

.navegacion{
    width: 600px;
    margin: 30px auto;
    background:none;
}

.navegacion ul{
    list-style: none;
}   

.menu > li {
    position: relative;
    display: inline-block;
}

.menu > li > a{
    display: block;
    padding: 15px 20px;
    color : #ffffff;
    font-family: 'open sans';
    text-decoration: none;
}

.menu li a:hover{
    color: green;
    transition: all .3s;
}

.subMenu{
    position: absolute;
    background: rgb(77, 77, 77);
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5;
}

.subMenu li a{
    display: block;
    padding: 15px;
    color: white;
    font-family: 'open sans';
    text-decoration: none;
}

.menu :hover .subMenu{
    visibility: visible;
    opacity: 1;
}
